<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block listing %}{% if SHOW == SHOWON %}{{ TITLE }}{% endif %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Other legacy stuff -->
    <link href="css/hovernav.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="css/theme.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

    <!-- The front-page carousel -->
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css">
  </head>

  <body role="document" style="font-family: 'Open Sans', sans-serif; font-size: 16px;">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle"
                  data-target=".navbar-collapse"
                  data-toggle="collapse"
                  type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"
             href="index.html"
             style="font-weight: bold;">
            <img class="mainlogo"
                 src="images/logo.png"
		 style="width: auto; height: 50px; margin-top: -15px; padding-top: -15px;" />
          </a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
	    <!-- The menu is kind of odd: I wanted a second file to get
		 generated (to avoid needing to include every single file
		 inside every top-level HTML file, which would require lots of
                 ifdef's) but I can only do that with javascript :(. -->
            <script src="menu.js"></script>
          </ul>
        </div>
      </div>
    </div>
 
    <!-- Shows the bulk of the content, which is anything with SHOWON set for
         this page-->
    {% block listing %}
      {% if SHOW == SHOWON %}
        <div class="jumbotron2">
	  <div class="container theme-showcase" role="main">
            {{ CONTENT }}
          </div>
        </div>
      {% endif %}
    {% endblock %}

    <!-- Shows the front-page image carousel -->
    {% if SHOW == "index" %}
      <style>
        .front-news {
	  margin: auto;
	  width: 50%;
	}
	.text-over-image {
	  position: relative;
	}
	.text-over-image-title {
	  position: absolute;
	  top: 2%;
	  left: 2%;
	  width: 95%;
	  margin: 0 auto;
	  font-weight: bold;
	  font-size: 300%;
	  color: white;
          text-shadow:
	    -1px -1px 0 #000,
	     1px -1px 0 #000,
	    -1px  1px 0 #000,
	     1px  1px 0 #000;
	}
	.text-over-image-blurb {
          position: absolute;
          top: 62%;
          left: 52%;
          width: 45%;
          margin: 0 auto;
          font-weight: bold;
          font-size: 150%;
          color: white;
          text-shadow:
            -1px -1px 0 #000,
             1px -1px 0 #000,
            -1px 1px 0 #000,
             1px 1px 0 #000;
	}
      </style>
      <div class="jumbotron2">
        <div class="slider slick front-news">
    {% endif %}

    {% block listing %}
      {% if SHOW == "index" %}
        {% ifdef POSTDATE %}
          <div class="slick-pane front-news">
	    <div class="text-over-image">
              <div class="text-over-image-title">
                {{ TITLE }} <br/>
		<div style="font-size: 75%">{{ POSTDATE }} <br/></div>
	      </div>
	      <a href="news/{{ PERMALINK }}.html">
                <img src="images/news/{{ IMAGE }}" width=100%>
	      </a>
	      <div class="text-over-image-blurb">
	        {% ifdef BLURB1 %}
                  {{ BLURB1 }} <br/>
		{% endif %}
		{% ifdef BLURB2 %}
		  {{ BLURB2 }} <br/>
		{% endif %}
		{% ifdef BLURB3 %}
		  {{ BLURB3 }} <br/>
		{% endif %}
	      </div>
	    </div>
          </div>
        {% endif %}
      {% endif %}
    {% endblock %}

    {% if SHOW == "index" %}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="container theme-showcase" role="main">

    <!-- If we're meant to show the sponsors, do so -->
    {% block listing %}
      {% ifdef SPONSORS %}
        <div class="sponsor-wrapper">
	  <div class="sponsor-content" style="float: left; width: 75%; overflow: hidden;">
      {% endif %}
    {% endblock %}

    <!-- News items, but only when not on index -->
    {% block listing %}
      {% if SHOW != "index" %}
        {% ifdef POSTDATE %}
          <div>
  	  <a href="news/{{ PERMALINK }}.html">
	    <h1>{{ TITLE }}: {{ POSTDATE }} </h1>
	  </a>
          {{ CONTENT }}
          </div>
        {% endif %}
      {% endif %}
    {% endblock %}

    {% block listing %}
      {% if SHOWON == "index-bottom" %}
        <div>
	  {{ CONTENT }}
	</div>
      {% endif %}
    {% endblock %}

    <!-- Projects/History -->
    {% block listing %}
      {% if SHOW == STATUS %}
        <div>
          <a href="projects/{{ PERMALINK }}.html"><h1>{{ PROJECT }}</h1></a>
          {% ifdef IMAGE %}
	  <center>
            <a href="projects/{{ PERMALINK }}.html"><img src="images/projects/{{ IMAGE }}" width="50%"></img></a>
          </center>
          {% endif %}
          <p>{{ BLURB }}</p>
	</div>
      {% endif %}
    {% endblock %}

    <!-- People -->
    {% block listing %}
      {% ifdef NAME %}
        <h1><a href="people/{{ PERMALINK }}.html">{{ NAME }}</a></h1>
	Advisor(s): {{ ADVISOR }}<br/>
	Website: <a href="{{ WEBSITE }}">{{ WEBSITE }}</a><br/>
	{{ CONTENT }}
      {% endif %}
    {% endblock %}

    <!-- Publications -->
    {% block listing %}
      {% ifdef PUBDATE %}
        <div>
	 <a href="publications/{{ PERMALINK }}.html">
	   <h1>{{ TITLE }}</h1>
	 </a>
	 Title: {{ TITLE }}<br/>
	 Authors: {{ AUTHOR }}<br/>
	 Date: {{ PUBDATE }}<br/>
	 Conference: {{ CONFERENCE }}, {{ LOCATION }}<br/>
	 {{ CONTENT }}
	</div>
      {% endif %}
    {% endblock %}

    {% block listing %}
      {% ifdef SPONSORS %}
        </div>
	<div class="sponsor-sidebar" style="width: 25%; overflow: hidden;">
	</div>
      </div>
      {% endif %}
    {% endblock %}

    <!-- Everything appears to need jquery -->
    <script src="js/jquery.min.js"></script>

    <!-- Legacy stuff from the RISC-V website -->
    <script src="js/showdown.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/hovernav.js"></script>

    <!-- The front-page carousel -->
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript">
      $('.slick').slick({
         autoplay: true,
	 autoplaySpeed: 5000,
	 infinite: true,
	 slidesToShow: 1,
	 slidesToScroll: 1
      });
    </script>
  </body>
</html>
